@model List<OrderVM>
<!--
        public int Id { get; set; }
        
        
        public string Title { get; set;  }
        public string Description { get; set; 
        public string ISBN { get; set; 
        public string Author { get; set; 
        public double ListPrice { get; set; 
        public double Price { get; set; }
        public double Price50 { get; set; }
        public double Price100 { get; set; }
-->

@{
    var status = Context.Request.Query["status"];

    var pending = "text-primary";
    var inprocess= "text-primary";
    var completed= "text-primary";
    var approved = "text-primary";
    var all = "text-primary";

    switch(status)
    {
        case "pending":
            pending = "active text-white bg-primary";
        break;

        case "inprocess":
            inprocess = "active text-white bg-primary";
        break;

        case "completed":
            completed = "active text-white bg-primary";
        break;

        case "approved":
            approved = "active text-white bg-primary";
        break;

        default:
            all = "active text-white bg-primary";
        break;
    }

}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Order List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="d-flex justify-content-between pb-5 pt-2">
            <span></span>
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="inprocess">
                    <li class="list-group-item @inprocess">In Process</li>
                </a>

                 <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="pending">
                    <li class="list-group-item @pending">Payment Pending</li>
                </a>

                 <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="completed">
                    <li class="list-group-item @completed">Completed</li>
                </a>

                 <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="approved">
                    <li class="list-group-item @approved">Approved</li>
                </a>

                 <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="all">
                    <li class="list-group-item @all">All</li>
                </a>

            </ul>
        </div>

        <div class="container">
            <div style="overflow-x:auto;" class="">
                <table id="tblData" class="table table-primary table-bordered table-striped table-hover w-100">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Phone Number
                            </th>
                           <th>
                                Email
                            </th>
                            <td>
                                Status
                            </td>
                            <th>
                                Total
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


@if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
{
    <div class="border border-2 p-4 m-5">
        <h2>Peak Orders and their properties</h2>
        @foreach(var element in Model)
        {
            <br />

            <div onclick="toggleCollapse(this.id)" id="@element.OrderHeader.Id" style="padding: 4px; width:auto; margin: 2px; border: 2px solid black; box-shadow: 2px 2px; border-radius: 2px;">
                <p>@element.OrderHeader.Id. Order From: <b>@element.OrderHeader.Name &nbsp;</b>  <i class="bi bi-arrow-down"></i> </p>
                <div class="collapse">
                    <div class="card card-body">
                
                        <div class="panel-body" >

                            <div class="container" data-toggle="collapse">
                                <div  style="background: rgba(0,0,0,0.1);"  class="card">
                                    <div class="card-header bg-primary text-light ml-0">
                                        <div class="container row">
                                            <div class="col-12 d-none d-md-block col-md-6 pb-1">
                                                <i class="fa fa-shopping-cart"></i>  &nbsp; Order Summary
                                            </div>
                                        </div>
                                    </div>
                    <div class="card-body">
                        <div class="container rounded p-2">
                            <div class="row">
                                <div class="col-12 col-lg-6 pb-4">
                                    <div class="row">
                                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="text-primary">PickUp Details:</span>
                                        </h4>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">Name</div>
                                        <div class="col-9">
                                            <input readonly style="background: rgba(0, 0, 0, 0.1)" asp-for="@element.OrderHeader.Name" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">Phone</div>
                                        <div class="col-9">
                                                <input  readonly style="background: rgba(0, 0, 0, 0.1)" asp-for="@element.OrderHeader.PhoneNumber" type="text" class="form-control" />                                    
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">Address</div>
                                        <div class="col-9">
                                                <input  readonly style="background: rgba(0, 0, 0, 0.1)" asp-for="@element.OrderHeader.StreetAddress" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">City</div>
                                        <div class="col-9">
                                                <input  readonly style="background: rgba(0, 0, 0, 0.1)" asp-for="@element.OrderHeader.City" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">State</div>
                                        <div class="col-9">
                                            <input  readonly style="background: rgba(0, 0, 0, 0.1)" asp-for="@element.OrderHeader.State" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">Zip Code</div>
                                        <div class="col-9">
                                                <input  readonly style="background: rgba(0, 0, 0, 0.1)" asp-for="@element.OrderHeader.PostalCode" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">Email</div>
                                        <div class="col-9">
                                            <input  readonly style="background: rgba(0, 0, 0, 0.1)" asp-for="@element.OrderHeader.ApplicationUser.Email" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">Order Date</div>
                                        <div class="col-9">
                                                <input  readonly style="background: rgba(0, 0, 0, 0.1)" asp-for="@element.OrderHeader.OrderDate" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">Carrier</div>
                                        <div class="col-9">
                                            <input  readonly style="background: rgba(0, 0, 0, 0.1)" asp-for="@element.OrderHeader.Carrier" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">Tracking</div>
                                        <div class="col-9">
                                            <input  readonly style="background: rgba(0, 0, 0, 0.1)" asp-for="@element.OrderHeader.TrackingNumber" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">Shipping Date</div>
                                        <div class="col-9">
                                            <input  readonly style="background: rgba(0, 0, 0, 0.1)" asp-for="@element.OrderHeader.ShippingDate" type="text" class="form-control" />
                                        </div>
                                    </div>

                                    @if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {
                                        <div class="row my-1">
                                            <div class="col-3">Session ID</div>
                                            <div class="col-9"> 
                                                <input  readonly style="background: rgba(0, 0, 0, 0.1)" asp-for="@element.OrderHeader.SessionId" type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row my-1">
                                            <div class="col-3">Payment Intent ID</div>
                                            <div class="col-9">
                                                <input  readonly style="background: rgba(0, 0, 0, 0.1)" asp-for="@element.OrderHeader.PaymentIntentId" type="text" class="form-control" />
                                            </div>
                                        </div>                              
                                    }

                                    <div class="row my-1">

                                        @if(element.OrderHeader.SessionId == null)
                                        {     
                                            <div class="col-3">Payment Due Date</div>
                                            <div class="col-9">
                                                <input  readonly style="background: rgba(0, 0, 0, 0.1)" asp-for="@element.OrderHeader.PaymentDueDate" type="text" class="form-control"/>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-3">Payment Date</div>
                                            <div class="col-9">
                                                <input  readonly style="background: rgba(0, 0, 0, 0.1)" asp-for="@element.OrderHeader.PaymentDate" type="text" class="form-control" />
                                            </div>
                                    
                                        }



                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">Payment Status</div>
                                        <div class="col-9">
                                                <input  readonly style="background: rgba(0, 0, 0, 0.1);" asp-for="@element.OrderHeader.PaymentStatus" type="text" class="form-control" />
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 col-lg-5 offset-lg-1">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-primary">Order Summary</span>
                                    </h4>
                                    <label class="btn btn-outline-primary form-control my-2">Order Status - @element.OrderHeader.OrderStatus</label>

                                    <ul class="list-group mb-3">

                                        @foreach(var elementOrderDetail in element.OrderDetail)
                                        {                                    
                                            <li class="list-group-item d-flex justify-content-between p-2">
                                                <div class="row container">
                                                    <div class="col-8">
                                                        <h6 class="my-0 text-primary">@elementOrderDetail.Product.Title</h6>
                                                        <small class="text-muted">Price : @elementOrderDetail.Price.ToString("c")</small><br />
                                                        <small class="text-muted">Quantity : @elementOrderDetail.Count</small>
                                                    </div>
                                                    <div class="col-4 text-end">
                                                        <p class="text-success">@((elementOrderDetail.Count * elementOrderDetail.Price).ToString("c"))</p>
                                                    </div>
                                                </div>
                                            </li>
                                        }


                                        <li class="list-group-item bg-primary">
                                            <div class="row container">
                                                <div class="col-6">
                                                    <h5 class="text-white">TOTAL: </h5>
                                                </div>
                                                <div class="col-6 text-end">
                                                    <h5 class="text-white">@element.OrderHeader.OrderTotal.ToString("c")</h5>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                        </div>

                    </div>
                </div>
            </div>    
        }
    </div>
}

@section Scripts{
    <script src="~/js/order.js"></script>
    <partial name="_ValidationScriptsPartial"\>

    <script>

        function toggleCollapse(theId) {
            var myDiv = document.getElementById(theId);

            if (myDiv.children[1].classList.contains("collapse"))
            {
                myDiv.children[1].classList.remove("collapse");
            } else
            {
                myDiv.children[1].classList.add("collapse");
            }
        }


        function validateInput(){
            if(document.getElementById("trackingNumber").value == ""){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter tracking number!',
                });
                return false;
            }
            if(document.getElementById("carrier").value == ""){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter carrier!',
                });
                return false;
            }
            return true;
        }
    </script>


}